
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300&display=swap');

.favorite {
    text-align: right;
    margin-right: 8%;
    margin-bottom: 9%;
}
.current-weather-div {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 7%;
}

#temp {
    font-size: 60px;
    color: #30C3CD;
}

#city {
    color: #1697B7;
    font-size: 45px;
}

