.login-div {
  background-color: #1697B7;
  color: white;
  /* margin-left: 10%;
  margin-right: 10%; */
  text-align: center;
  font-size: 18px;
  padding: 97px 0;
  /* border-radius: 10px; */
  /* margin-top: 7%; */
  /* margin-bottom: 0; */
}

.login-div input {
  width: 80%;
  margin: 0 auto;
  height: calc(1.5em + 2.5rem + 2px)
}

.login-div button {
  margin-left: 10px;
}

.title-logo {
    display: flex;
    justify-content: center;
    align-items: baseline;
    
}

h3 {
    font-size: 55px;
}

p {
    margin-top: 6%;
    font-size: 26px;
}

.button-text {
    color: #1697B7;
}

.link {
    color: #F3AD78;
}

.button-color {
    background-color: #F3F3F3;
     
}

button {
    width: 38%;
    height:34px;
    margin-top: 5%
}

.input-sizing {
    margin-bottom: none;
}