.color-nav {
    background-color: #1697B7;
}

.main-title {
    color: #F3F3F3;
    font-weight: 600;
    font-size: 26px;
    display: flex;
    align-items: center;
}

.title {
    color: #F3F3F3;
    font-weight: 600;
    font-size: 22px;
}

.languages-dropdown {
    color: #F3F3F3;
    padding-top: 13px;
}

