.color-nav {
    background-color: #30C3CD;
}

.main-title {
    color: #F3F3F3;
    font-weight: 600;
    font-size: 26px;
}

.title {
    color: #F3F3F3;
    font-weight: 600;
    font-size: 22px;
}