@media only screen and (min-width: 1025px) {
    .desktop-current-weather {
    display: flex;
    margin-bottom: 3%;
}

    .current-weather-div, .current-weather-details-div {
    width: 50%;
}

    .current-weather-details-div {
        /* border-left: 3px solid #F4AD78; */
        margin-top: 8.5%;
        margin-left: 3%;
    }

    .details {
        border: none;
        width: 100%;
    }

    #city {
        font-size: 58px;
    }

    h2 {
        font-size: 40px;
        margin-top: 6%;
    }

    img {
        width: 150px;
        height: 150px;
    }

    .main-content {
        width: 90%;
        margin: 0 auto;
    }

    .icon {
        text-align: center;
    }

    .temp {
        text-align: right;
    }

    .label {
        font-size: 24px;
    }

    .value {
        font-size: 35px;
    }

    .row-direction-div {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 2%;
    }

    .hourly-main-div, .daily-main-div {
    width: 80%;
}

    .hour p, .hour-temp p {
    text-align: center;
    font-size: 23px;
}

}

